* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
}

header a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
#logo {
color: rgb(240, 37, 37);
text-shadow: 2px 2px 5px;
font-size: xx-large;
font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bgbody.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  color: rgb(198, 193, 193);
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
  width: 100%;
}

/*  ARTICLE / MOVIE CARD */

article {
    border: rgb(28, 28, 28) solid;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    display: grid;
    background-color: rgb(42, 41, 41);
    width: 100%;
    max-width: 200px;
}

article a{
  color: white
}
img {
    width: 100%;
    border-radius: 5px;
}
article h2 {
  font-size: small;
  text-align: center;
  
}
article p {
  font-size: x-small;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin:auto;

}



/*  PAGE MOVIE  */

#movie{
  width: 90%;
  max-width: 500px;
  margin: auto;
}