* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 10px;
  color: white;
  background-color: black;
}

header a {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  flex-grow: 2;
}

footer {
  color: white;
  background-color: black;
  width: 100%;
}
